doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    block title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700|VT323')
    block links
  body
    .content-wrapper
      block content
    noscript
      div.noscript Javascript must be enabled for the proper page display
    block scripts