extends ./layout.pug

block title
  title Error page

block links
  link(rel='stylesheet' href='/css/error.min.css')

block content
  section.error
    h2.error-heading Ooop's it looks like <span>error</span> happend
    p.error-text= status
    p.error-message= message