doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    block title
    block links
  body
    .content-wrapper
    noscript
      div.noscript Javascript must be enabled for the proper page display
    block scripts